.w-icon-delete {
  width: 128px;
  height: 128px;
  background-image: url(./sprite.png);
  background-position: 0px 0px;
}
.w-icon-icon-chongzhi {
  width: 60px;
  height: 60px;
  background-image: url(./sprite.png);
  background-position: 0px -128px;
}
.w-icon-icon-lipin2 {
  width: 60px;
  height: 60px;
  background-image: url(./sprite.png);
  background-position: -60px -128px;
}
.w-icon-icon-liushui {
  width: 105px;
  height: 105px;
  background-image: url(./sprite.png);
  background-position: -128px 0px;
}